/* CSS Document */
body {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:15px;
direction:ltr;
text-align:left;
}

.direction {
direction:ltr;
}
.alignement {
text-align:left;
}
.align_inverse {
text-align:right;
}

.text {
	FONT-SIZE: 12px;
	COLOR: #000000; 
	FONT-FAMILY: arial; 
}
.text12 {
	FONT-SIZE: 12px;
	COLOR: #000000; 
	FONT-FAMILY: arial; 
}
.text12_ar {
	FONT-SIZE: 14px;
font-weight:normal;
line-height:24px;
letter-spacing:normal;

	COLOR: #000000; 
	FONT-FAMILY: "Arabic Transparent" ; 
}

.text16 {
	FONT-SIZE: 16px;
font-weight:normal;
line-height:24px;
letter-spacing:normal;

	COLOR: #000000; 
	FONT-FAMILY: "Arabic Transparent" ; 
}

.text_noir_12_bloc_right {
	FONT-SIZE: 12px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	padding-top:5px 
}
.text_noir_11_bloc_right {
	FONT-SIZE: 11px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	padding-top:5px 
}
.text_mauve {
	FONT-SIZE: 11px;
	COLOR: #F56905; 
	FONT-FAMILY: arial; 
}
.text_gris {
	FONT-SIZE: 11px;
	COLOR: #898989; 
	FONT-FAMILY: arial; 
}
.text_blanc12 {
	FONT-SIZE: 12px;
	COLOR: #ffffff; 
	FONT-FAMILY: arial; 
}
.text_mauve12 {
	FONT-SIZE: 12px;
	COLOR: #FFA805; 
	FONT-FAMILY: arial; 
}

.text_gris_clair {
	FONT-SIZE: 11px;
	COLOR: #cccccc; 
	FONT-FAMILY: arial; 
}
.POSTE {
	FONT-SIZE: 11px;
	COLOR: #FF9C00;
	FONT-FAMILY: arial;
	font-weight: bold;
	text-transform:uppercase
}
.lien_noir_souligne {
	FONT-SIZE: 11px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_noir_souligne:hover {
	FONT-SIZE: 11px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}

.lien_noir_bleu {
	FONT-SIZE: 11px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_noir_bleu:hover {
	FONT-SIZE: 11px;
	COLOR: #2C92A1; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}

.lien_noir_vert {
	FONT-SIZE: 11px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_noir_vert:hover {
	FONT-SIZE: 11px;
	COLOR: #9ACD34; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}



.lien_mauve12 {
	FONT-SIZE: 12px;
	COLOR: #F56905; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_mauve12:hover {
	FONT-SIZE: 12px;
	COLOR: #F56905; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}

.lien_blanc12 {
	FONT-SIZE: 12px;
	COLOR: #ffffff; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_blanc12:hover {
	FONT-SIZE: 12px;
	COLOR: #ffffff; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}

.lien_noir12 {
	FONT-SIZE: 12px;
	COLOR: #454441; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_noir12:hover {
	FONT-SIZE: 12px;
	COLOR: #454441; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}

.lien_gris_souligne {
	FONT-SIZE: 11px;
	COLOR: #898989; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}
.lien_gris_souligne:hover {
	FONT-SIZE: 11px;
	COLOR: #898989; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}

.lien_blanc_souligne {
	FONT-SIZE: 11px;
	COLOR: #17459F; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_blanc_souligne:hover {
	FONT-SIZE: 11px;
	COLOR: #4B78CC; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}

.lien_gris_clair {
	FONT-SIZE: 11px;
	COLOR: #cccccc; 
	FONT-FAMILY: arial; 
	TEXT-DECORATION: none
}
.lien_gris_clair:hover {
	FONT-SIZE: 11px;
	COLOR: #F56905; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}
.lien_mauve14 {
	
	FONT-SIZE: 12px;
	COLOR: #17459F; 
	FONT-FAMILY: arial;
	font-weight: bold ;
	text-transform:uppercase ;
	
	TEXT-DECORATION: none

}
.lien_mauve14:hover {

	TEXT-DECORATION: underline
}


.lien_souligne_mauve11 {
	FONT-SIZE: 11px;
	COLOR: #17459F; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}
.lien_souligne_mauve11:hover {
	FONT-SIZE: 11px;
	COLOR: #F56905; 
	FONT-FAMILY: arial; 
	TEXT-DECORATION: none
}


.lien_mauve11 {
	FONT-SIZE: 11px;
	COLOR: #F56905; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_mauve11:hover {
	FONT-SIZE: 11px;
	COLOR: #F56905; 
	FONT-FAMILY: arial; 
	TEXT-DECORATION: underline
}

.lien_noir_mauve {
	FONT-SIZE: 11px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_noir_mauve:hover {
	FONT-SIZE: 11px;
	COLOR: #F56905; 
	FONT-FAMILY: arial; 
	TEXT-DECORATION: none
}
.lien_noir_mauve12 {
	FONT-SIZE: 12px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_noir_mauve12:hover {
	FONT-SIZE: 12px;
	COLOR: #F56905; 
	FONT-FAMILY: arial; 
	TEXT-DECORATION: none
}

textarea{
	BORDER-RIGHT: #DDDCDC 1px solid; 
	BORDER-TOP: #DDDCDC 1px solid; 
	FONT-SIZE: 11px; 
	color: #000000;
	BORDER-LEFT: #DDDCDC 1px solid; 
	BORDER-BOTTOM: #DDDCDC 1px solid; 
	FONT-FAMILY: Tahoma;
	background-image:url(image/gif/fond_input.gif);
	background-repeat: repeat-x;
	padding-left:5px;
	width:400px;
	height:170px;
}
select{

	FONT-SIZE: 11px; 
	color: #000000;
	BORDER-LEFT: #999999 1px solid; 
	FONT-FAMILY: arial;
	padding-left:5px;
}
select.contact{

	BORDER-RIGHT: #888888 1px solid; 
	BORDER-TOP: #888888 1px solid; 
	FONT-SIZE: 12px; 
	color: #000000;
	BORDER-LEFT: #888888 1px solid; 
	BORDER-BOTTOM: #888888 1px solid; 
	FONT-FAMILY: arial;
	padding-left:5px;
}
input{

	FONT-SIZE: 12px; 
	color: #000000;
	BORDER-LEFT: #999999 1px solid; 
	FONT-FAMILY: arial;
	padding-left:5px;
}
input.contact{
	BORDER-RIGHT: #888888 1px solid; 
	BORDER-TOP: #888888 1px solid; 
	FONT-SIZE: 12px; 
	color: #000000;
	BORDER-LEFT: #888888 1px solid; 
	BORDER-BOTTOM: #888888 1px solid; 
	FONT-FAMILY: arial;
	padding-left:5px;
}
input.message{
	BORDER-RIGHT: #888888 1px solid; 
	BORDER-TOP: #888888 1px solid; 
	FONT-SIZE: 12px; 
	color: #000000;
	BORDER-LEFT: #888888 1px solid; 
	BORDER-BOTTOM: #888888 1px solid; 
	FONT-FAMILY: arial;
	padding-left:5px;
	height:75px
}

.tableau
{
	BORDER-BOTTOM: #D0DCE3 5px solid;
}
.liste_mauve {
	LIST-STYLE-IMAGE: url(image/gif/puce_mauve_lg.gif);
}
.liste_bleu {
	LIST-STYLE-IMAGE: url(image/gif/puce_bleu_lg.gif);
}
.liste_verte {
	LIST-STYLE-IMAGE: url(image/gif/puce_verte_lg.gif);
}
.liste_jaune {
	LIST-STYLE-IMAGE: url(image/gif/puce_jaune_lg.gif);
}
.liste_carre_bleu {
	LIST-STYLE-IMAGE: url(image/gif/puce_carre_bleu.gif);
}

.tableau_cadre_ss_fond
{
	BORDER-TOP: #DFDEDE 1px solid;
	BORDER-BOTTOM: #DFDEDE 1px solid;
	BORDER-LEFT: #DFDEDE 1px solid;
	BORDER-RIGHT: #DFDEDE 1px solid;
}
.tableau_cadre
{
	BORDER-TOP: #DFDEDE 1px solid;
	BORDER-BOTTOM: #DFDEDE 1px solid;
	BORDER-LEFT: #DFDEDE 1px solid;
	BORDER-RIGHT: #DFDEDE 1px solid;
	background-image: url(image/gif/fond_tab_cadre.gif);
	background-position:top;
	background-repeat: repeat-x;
}
.titre_rub_principal {
	FONT-SIZE: 14px;
	COLOR: #000000;
	FONT-FAMILY: Arial;
	font-size: .75em;
}
.titre_rub_principal_mauve {
	FONT-SIZE: 14px;
	COLOR: #FFA805;
	FONT-FAMILY: Arial;
	font-size: .75em;
}
.titre_principal {
	FONT-SIZE: 13px;
	COLOR: #888888;
	FONT-FAMILY: Arial;
	font-weight:bold;

}
.titre_principal2 {
	FONT-SIZE: 20px;
	COLOR: #A1066E;
	FONT-FAMILY: Arial;
}
.titre_principal_entreprise {
	FONT-SIZE: 20px;
	COLOR: #2C91A0;
	FONT-FAMILY: Arial;
}
.titre_principal_particulier {
	FONT-SIZE: 20px;
	COLOR: #99CC33;
	FONT-FAMILY: Arial;
}
.titre_principal_service_ligne {
	FONT-SIZE: 20px;
	COLOR: #FFCC00;
	FONT-FAMILY: Arial;
}
.titre_principal_mauve {
	FONT-SIZE: 16px;
	COLOR: #A1066E;
	FONT-FAMILY: Arial;
	font-size: .85em;
}
.titre_principal_bleu {
	FONT-SIZE: 16px;
	COLOR: #2C91A0;
	FONT-FAMILY: Arial;
	font-size: .85em;
}
.titre_page_interne_mauve
{
color:#A1066E;
font-family:Arial;
font-size:14px;
}
.titre_page_interne_bleu
{
color:#2C91A0;
font-family:Arial;
font-size:14px;
}
.sous_titre_page_interne_bleu
{
color:#2C91A0;
font-family:Arial;
font-size:12px;
}
.sous_titre_page_interne_vert
{
color:#99CC33;
font-family:Arial;
font-size:12px;
}
.titre_page_interne_vert
{
color:#99CC33;
font-family:Arial;
font-size:14px;
}
.tab_rub_right
{
	BORDER-TOP: #E1DDDD 1px solid;
	BORDER-BOTTOM: #E1DDDD 1px solid;
	BORDER-LEFT: #E1DDDD 1px solid;
	BORDER-RIGHT: #E1DDDD 1px solid;
	background-image: url(image/gif/fond_rub_right.gif);
	padding-top:1px;
	padding-bottom:5px;
	margin-bottom:7px;
}
.cel_titre
{
color:#000000;
font-size:11px;
font-family:arial;
background-color:#F6D100;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
.cel_contenu
{
color:#000000;
font-size:11px;
font-family:arial;
background-color:#F5F5F5;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}

.cel_titre_bleu
{
color:#000000;
font-size:11px;
font-family:arial;
background-color:#2C91A0;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
.cel_titre_vert
{
color:#000000;
font-size:11px;
font-family:arial;
background-color:#99CC33;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
.cel_contenu_bleu
{
color:#000000;
font-size:11px;
font-family:arial;
background-color:#F5F5F5;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}

.sous_titre_page_interne_jaune
{
color:#F8C001;
font-family:Arial;
font-size:12px;
}
.titre_page_interne_jaune
{
color:#F8C001;
font-family:Arial;
font-size:14px;
}
.cel_titre_jaune
{
color:#000000;
font-size:11px;
font-family:arial;
background-color:#FFCC00;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
.lien_noir_jaune {
	FONT-SIZE: 11px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_noir_jaune:hover {
	FONT-SIZE: 11px;
	COLOR: #FF9900; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}

.sous_titre_page_interne_bleu_jeune
{
color:#0099CC;
font-family:Arial;
font-size:12px;
}
.titre_page_interne_bleu_jeune
{
color:#0099CC;
font-family:Arial;
font-size:14px;
}
.cel_titre_bleu_jeune
{
color:#000000;
font-size:11px;
font-family:arial;
background-color:#0099CC;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
.lien_noir_bleu_jeune {
	FONT-SIZE: 11px;
	COLOR: #000000; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: none
}
.lien_noir_bleu_jeune:hover {
	FONT-SIZE: 11px;
	COLOR: #0099CC; 
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}
.titre_principal_bleu_jeune {
	FONT-SIZE: 20px;
	COLOR: #0099CC;
	FONT-FAMILY: Arial;
}
.liste_bleu_jeune {
	LIST-STYLE-IMAGE: url(image/gif/puce_bleu_lg.gif);
}
.sous_liste_mauve {
	LIST-STYLE-IMAGE: url(image/gif/puce_mauve.gif);
}
.sous_liste_bleu {
	LIST-STYLE-IMAGE: url(image/gif/puce_bleu.gif);
}
.sous_liste_verte {
	LIST-STYLE-IMAGE: url(image/gif/puce_verte.gif);
}
.sous_liste_jaune {
	LIST-STYLE-IMAGE: url(image/gif/puce_jaune.gif);
}
.sous_liste_bleu_jeune {
	LIST-STYLE-IMAGE: url(image/gif/puce_bleu.gif);
}

#buttonMini {
	FONT-FAMILY: Arial; COLOR: #000; FONT-SIZE: 11px; TEXT-DECORATION: none; BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; DISPLAY: block; BACKGROUND: #ffe88a no-repeat 1px 3px; FLOAT: left; PADDING-TOP: 0px
}
#buttonMini:hover {
	BORDER-LEFT: black 1px solid; BACKGROUND: #e4e4e4 no-repeat 2px 3px; BORDER-TOP: black 1px solid; BORDER-RIGHT: 0px
}

#langues {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 20px; PADDING-TOP: 0px
}
#langues LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#langues LI.lg_active A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-LEFT: 5px; WIDTH: 40px; PADDING-RIGHT: 5px; DISPLAY: block; FONT-FAMILY: tahoma, Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #F56905; FONT-SIZE: 12px; BORDER-TOP: #F56905 4px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#langues LI.lg_active A:visited {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-LEFT: 5px; WIDTH: 40px; PADDING-RIGHT: 5px; DISPLAY: block; FONT-FAMILY: tahoma, Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #F56905; FONT-SIZE: 12px; BORDER-TOP: #F56905 4px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#langues LI.lg_active A:hover {
	BACKGROUND: #F56905; COLOR: #fff; BORDER-TOP: #F56905 4px solid
}
